a {
    text-decoration: none;
    color: black !important;
}

.blue {
    color: blue !important;
}

.green {
    color: green !important;
}

.red {
    color: red !important;
}

.orange {
    color: orange !important;
}

.title {
    font-size: 20px;
    font-weight: 600;
}

.title1 {
    font-size: 16px;
    font-weight: 600;
}

#sales-person-dropdown {
    display: block !important;
    width: 100px !important;
}


/* Base styles */
.col-span-12 {
    grid-column: span 12 / span 12;
}

.lg\:col-span-4 {
    @media (min-width: 992px) {
        grid-column: span 4 / span 4;
    }
}

.grid {
    display: grid;
}

.grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.sm\:grid-cols-3 {
    @media (min-width: 640px) {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

.lg\:grid-cols-2 {
    @media (min-width: 1024px) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

.gap-3 {
    gap: 0.75rem;
}

.sm\:gap-5 {
    @media (min-width: 640px) {
        gap: 1.25rem;
    }
}

@media screen and (max-width:325px) {
    .button-sm {
        width: 100px !important;
    }
}

/* tables */

.table {
    width: 100%;
    border-collapse: collapse;
    background-color: whitesmoke !important;
    border-radius: 10px !important;
    overflow: hidden !important;
}

.table th,
.table td {
    padding: 5px 10px !important;
    text-align: left !important;
    border-bottom: 1px solid #ddd !important;
}

tbody {
    background-color: white !important;
    border-bottom: 1px solid #ddd !important;
}

