.ncontainer {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.ncontainer::before,
.ncontainer::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 100%;
  z-index: 10;
}


.lides > img {
  height: 180px;
}

.lides {
  display: inline-block;
  animation: 100s lide infinite linear;
}

@keyframes lide {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}
