<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>Career | 64 Network Security</title>
        <link rel="icon" href="img/fav.png">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="keywords">
        <meta content="" name="description">

        <!-- Google Web Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet"> 

        <!-- Icon Font Stylesheet -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

        <!-- Libraries Stylesheet -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
        <link href="lib/animate/animate.min.css" rel="stylesheet">
        <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
        <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">


        <!-- Customized Bootstrap Stylesheet -->
        <link href="css/bootstrap.min.css" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="css/style.css" rel="stylesheet">


        <!-- Facebook -->
        <meta property="og:url" content="https://dev.64network.com/carrer_job?job_id={{jobname}}" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Job Opportunity" />
        <meta property="og:description" content="Check out this job opportunity!" />
        <meta property="og:image" content="https://st2.depositphotos.com/3643473/6206/i/450/depositphotos_62060317-stock-illustration-person-with-megaphone-and-word.jpg" />
    


    </head>

    <body>

        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Topbar Start -->
        <div class="container-fluid topbar px-0 d-none d-lg-block">
            <div class="container px-0">
                <div class="row gx-0 align-items-center" style="height: 45px;">
                    <div class="col-lg-2 text-center text-lg-start mb-lg-0">
                        <div class="d-flex flex-wrap">
                            <a href="#" style="color: #ffffff;" class="text-muted me-4"><i class="fas fa-calendar-alt text-primary me-2"></i>Upcomming Events</a>
                            
                        </div>
                    </div>
                    {% set event_list = frappe.get_all("Event",filters={'status': 'Open','event_category':'Event'},fields=['name','subject','starts_on','ends_on'],order_by='starts_on asc') %}
                    {% set today = frappe.utils.now_datetime() %}
                    
                    <div class="col-lg-10 text-center text-lg-end">
                        <div class="d-flex align-items-center justify-content-end">
                            <marquee style="color: #ffffff;">
                         
                        {% for event in event_list if event_list %}
                            {% set start_datetime = event.starts_on %}
                            {% set start_date = start_datetime.strftime("%d-%m-%Y")  %}
                            {% set start_time = start_datetime.time() %}
                            {% set end_datetime = event.starts_on %}
                            {% set end_date = end_datetime.strftime("%d-%m-%Y")  %}
                            
                            {% if start_datetime >= today %}                            
                            <a href="events.html" style="color: #ffffff;"><i class="fas fa-shield-alt text-primary me-2" ></i>
                                {{event.subject }} starts on {{ start_date }} at {{start_time}}  and ends on {{end_date}}.</a>
                                 &nbsp;
                                                    <!-- {{event.name}} -->
                            {% endif %}                        
                            
                        {% endfor %}
                    </marquee>
                </div>

                        
                    </div>
                    
                </div>
            </div>
        </div>
        <!-- Topbar End -->


        <!-- Navbar & Hero Start -->
        <div class="container-fluid sticky-top px-0">
            <div class="position-absolute bg-dark" style="left: 0; top: 0; width: 100%; height: 100%;">
            </div>
            <div class="container px-0">
                <nav class="navbar navbar-expand-lg navbar-dark bg-white py-3 px-4">
                    <a href="index.html" class="navbar-brand p-0">
                        <img src="img/logo.png">
                        <!-- <img src="img/logo.png" alt="Logo"> -->
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                        <span class="fa fa-bars"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <div class="navbar-nav ms-auto py-0">
                            <a href="index.html" class="nav-item nav-link ">Home</a>
                            <a href="#" class="nav-item nav-link">About</a>
                            <a href="solutions.html" class="nav-item nav-link">Solutions</a>
                            <a href="blog1.html" class="nav-item nav-link">Blog</a>
                            <a href="career.html" class="nav-item nav-link active">Career</a>
                            <a href="events.html" class="nav-item nav-link">Events</a>
                            
                            <a href="contact.html" class="nav-item nav-link ">Contact</a>
                            <a href="/login" class="nav-item nav-link ">Login</a>
                      </div>
                        <div class="d-flex align-items-center flex-nowrap pt-xl-0">
                            
                            <a href="#" class="btn btn-primary rounded-pill text-white py-2 px-4 ms-2 flex-wrap flex-sm-shrink-0">16 Years of Excellence</a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <!-- Navbar & Hero End -->

        <!-- Modal Search Start -->
        <div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-fullscreen">
                <div class="modal-content rounded-0">
                    <div class="modal-header">
                        <h4 class="modal-title mb-0" id="exampleModalLabel">Search by keyword</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body d-flex align-items-center">
                        <div class="input-group w-75 mx-auto d-flex">
                            <input type="search" class="form-control p-3" placeholder="keywords" aria-describedby="search-icon-1">
                            <span id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal Search End -->

        <!-- Header Start -->
        <div class="container-fluid bg-career">
            <div class="bg-breadcrumb-single"></div>
            <div class="container text-center py-5" style="max-width: 900px;">
                <h4 class="text-white display-4 mb-4 wow fadeInDown" data-wow-delay="0.1s">Career</h4>
                <ol class="breadcrumb justify-content-center mb-0 wow fadeInDown" data-wow-delay="0.3s">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item active text-primary">Career</li>
                </ol>    
            </div>
        </div>
        <!-- Header End -->

        <!-- Contact Start -->
        <div class="container-fluid contact bg-light py-5">
            <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.3s">
                    <ul class="nav nav-pills d-inline-flex justify-content-center border-bottom mb-5">
                        
                        <li class="nav-item">
                            <a class="d-flex align-items-center text-start mx-3 pb-3" data-bs-toggle="pill" href="#tab-2">
                                <h6 class="job-link">Full Time</h6>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="d-flex align-items-center text-start mx-3 me-0 pb-3" data-bs-toggle="pill" href="#tab-3">
                                <h6 class="job-link">Part Time</h6>
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        
                      <div id="tab-2" class="tab-pane fade show p-0 active">
                             <div class="col-md-12">
                                            
                                            <a class="btn btn-primary" href="#tab-2">Full Time Jobs</a>
                                        </div>
                                        {% set job_list = frappe.get_all("Job Opening",filters={'status': 'Open','custom_jop_type':'Full Time','publish':1},fields=['name','job_title', 'currency','lower_range','upper_range']) %}
                           {% for job in job_list %}
                          <div class="job-item p-4 mb-4">
                            <div class="row g-4">
                                    <div class="col-sm-12 col-md-8 d-flex align-items-center"> <a href="carrer_job.html"><img class="flex-shrink-0 img-fluid border rounded" src="img/mp.jpg" alt="" style="width: 80px; height: 80px;"></a>
                                        <div class="text-start ps-4">
                                          <h5 class="mb-3">{{job.job_title}}</h5>
                                            <span class="text-truncate me-3"><i class="fa fa-map-marker-alt text-primary me-2"></i>Hyderabad, Telangana</span>
                                            <span class="text-truncate me-3"><i class="far fa-clock text-primary me-2"></i>Full Time</span>
                                            {% if job.lower_range and job.upper_range %}
                                            <span class="text-truncate me-0"><i class="far fa-money-bill-alt text-primary me-2"></i>₹{{job.lower_range}} - ₹{{job.upper_range}}</span>
                                            {% endif %}
                                      </div>
                              </div>
                                    <div class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                                        <div class="d-flex mb-3">
                                            <!-- <a class="btn btn-light btn-square me-3" href=""><i class="far fa-heart text-primary"></i></a> -->
                                            {% set jobname = job.name %}
                                            
                                    
                                    <!-- Button to trigger data fetching -->
                                    <a  class="btn btn-primary" href="/carrer_job?job_id={{jobname}}">View Details</a>
                                    

                                    <!-- Placeholder for job data -->
                                        </div>
                                        <div class="d-flex align-items-center">
                                            <!-- <div class="share-button-container">
                                                <img src="https://dev.64network.com/files/64_logo_New.png" alt="Job Image">
                                                <span>Exciting Job Opening</span>
                                                <a href="https://www.facebook.com/sharer/sharer.php?u=https://dev.64network.com/career_job?job_id={{job.name}}" class="btn btn-facebook" target="_blank" title="Share on Facebook">
                                                    <i class="fab fa-facebook-f"></i> Share
                                                </a>
                                            </div>
                                             -->
                                            <!-- Facebook -->
                                             <!-- <div id="fb-root"></div>
                                             <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v10.0"></script>
                                             <button class="btn btn-light btn-md-square me-2" onclick="shareOnFacebook()"><i class="fab fa-facebook-f"></i></button> -->
                                             <!-- <script>
                                                function shareOnFacebook() {
                                                  const jobUrl = encodeURIComponent('https://dev.64network.com/carrer_job?job_id={{jobname}}'); // Replace with your job URL
                                                  const imageUrl = encodeURIComponent('https://st2.depositphotos.com/3643473/6206/i/450/depositphotos_62060317-stock-illustration-person-with-megaphone-and-word.jpg'); // Replace with your image URL
                                                  const shareUrl = `https://www.facebook.com/sharer/sharer.php?u=${jobUrl}&picture=${imageUrl}`;
                                                  window.open(shareUrl, '_blank');
                                                }
                                              </script> -->

                                              <!-- <a href="https://www.facebook.com/sharer/sharer.php?u=https://dev.64network.com/carrer_job?job_id={{jobname}}" class="btn btn-light btn-md-square me-2" id="fb-share-link" target="_blank"><i class="fab fa-facebook-f"></i></a>

                                                <script>
                                                    document.getElementById('fb-share-link').addEventListener('click', function() {
                                                        const jobId = 'your_job_id'; // dynamically set this based on your job
                                                        const url = `https://dev.64network.com/carrer_job?job_id=${jobname}`;
                                                        const text = 'Check out this job opportunity!';
                                                        const imageUrl = 'https://st2.depositphotos.com/3643473/6206/i/450/depositphotos_62060317-stock-illustration-person-with-megaphone-and-word.jpg';
                                                        
                                                        const fbShareUrl = `https://www.facebook.com/sharer/sharer.php?u=${encodeURIComponent(url)}&quote=${encodeURIComponent(text)}&picture=${encodeURIComponent(imageUrl)}`;
                                                        
                                                        window.open(fbShareUrl, '_blank', 'width=600,height=400');
                                                    });
                                                </script> -->

                                                <!-- <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fdev.64network.com%2Fcarrer_job%3Fjob_id%3Dnetwork-support-engineer-with-0-1yr-of-ex&layout&size&width=78&height=20&appId"
                                                 width="78" height="20" style="border:none;overflow:hidden" 
                                                 scrolling="no" frameborder="0" 
                                                 allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share">
                                                </iframe> -->

                                                <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fdev.64network.com%2Fcarrer_job%3Fjob_id%3D{{ jobname | urlencode }}&picture=https://st2.depositphotos.com/3643473/6206/i/450/depositphotos_62060317-stock-illustration-person-with-megaphone-and-word.jpg" 
                                                    width="78" height="20" 
                                                    style="border:none; overflow:hidden;" 
                                                    scrolling="no" frameborder="0" 
                                                    allowfullscreen="true" 
                                                    allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share">
                                            </iframe>

                                            <!-- end facebook -->
                                            <a class="btn btn-light btn-md-square me-2" href="https://twitter.com/intent/tweet?url=https://dev.64network.com/carrer_job?job_id={{jobname}}" target="_blank" title="Share on Twitter"><i class="fab fa-twitter"></i></a>
                                            <a class="btn btn-light btn-md-square me-2" href=""><i class="fa fa-link"></i></a>
                                            <a class="btn btn-light btn-md-square me-0" href="https://www.linkedin.com/shareArticle?url=https://dev.64network.com/carrer_job?job_id={{jobname}}" target="_blank" title="Share on LinkedIn"><i class="fab fa-linkedin-in"></i></a>
                                        </div>
                                        <!-- <small class="text-truncate"><i class="far fa-calendar-alt text-primary me-2"></i>Date Line: 01 June, 2024</small> -->
                                    </div>
                            </div>
                          </div>
                          {% endfor %}   
                            
                            
                            
                        </div>
                        <div id="tab-3" class="tab-pane fade show p-0">
                          <div class="col-md-12">
                                            
                                            <a class="btn btn-primary" href="#tab-3">Part Time Jobs</a>
                                        </div>
                                        {% set job_list = frappe.get_all("Job Opening",filters={'status': 'Open','custom_jop_type':'Part Time','publish':1},fields=['name', 'job_title','currency','lower_range','upper_range']) %}
                           {% for job in job_list %}
                          <div class="job-item p-4 mb-4">
                            <div class="row g-4">
                                    <div class="col-sm-12 col-md-8 d-flex align-items-center"> <a href="carrer_job.html"><img class="flex-shrink-0 img-fluid border rounded" src="img/mp.jpg" alt="" style="width: 80px; height: 80px;"></a>
                                        <div class="text-start ps-4">
                                          <h5 class="mb-3">{{job.job_title}}</h5>
                                            <span class="text-truncate me-3"><i class="fa fa-map-marker-alt text-primary me-2"></i>Hyderabad, Telangana</span>
                                            <span class="text-truncate me-3"><i class="far fa-clock text-primary me-2"></i>Full Time</span>
                                            {% if job.lower_range and job.upper_range %}
                                            <span class="text-truncate me-0"><i class="far fa-money-bill-alt text-primary me-2"></i>₹{{job.lower_range}} - ₹{{job.upper_range}}</span>
                                            {% endif %}
                                      </div>
                              </div>
                                    <div class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                                        <div class="d-flex mb-3">
                                            {% set jobname = job.name %}
                                            
                                            <!-- <a class="btn btn-light btn-square me-3" href=""><i class="far fa-heart text-primary"></i></a> -->
                                            <a class="btn btn-primary" href="/carrer_job?job_id={{jobname}}">View Details</a>
                                        </div>
                                        <div class="d-flex align-items-center">
                                            <!-- <div class="share-button-container">
                                                <img src="https://dev.64network.com/files/64_logo_New.png" alt="Job Image">
                                                <span>Exciting Job Opening</span>
                                                <a href="https://www.facebook.com/sharer/sharer.php?u=https://dev.64network.com/career_job?job_id={{job.name}}" class="btn btn-facebook" target="_blank" title="Share on Facebook">
                                                    <i class="fab fa-facebook-f"></i> Share
                                                </a>
                                            </div>
                                             -->
                                            <a class="btn btn-light btn-md-square me-2" href="https://www.facebook.com/sharer/sharer.php?u=https://dev.64network.com/carrer_job?job_id={{jobname}}" target="_blank" title="Share on Facebook"><i class="fab fa-facebook-f"></i></a>
                                            <a class="btn btn-light btn-md-square me-2" href="https://twitter.com/intent/tweet?url=https://dev.64network.com/carrer_job?job_id={{jobname}}" target="_blank" title="Share on Twitter"><i class="fab fa-twitter"></i></a>
                                            <a class="btn btn-light btn-md-square me-2" href=""><i class="fa fa-link"></i></a>
                                            <a class="btn btn-light btn-md-square me-0" href="https://www.linkedin.com/shareArticle?url=https://dev.64network.com/carrer_job?job_id={{jobname}}" target="_blank" title="Share on LinkedIn"><i class="fab fa-linkedin-in"></i></a>
                                            <div class="share-buttons">
                                                <a href="https://www.facebook.com/sharer/sharer.php?u=https://dev.64network.com/carrer_job?job_id={{jobname}}" class="facebook" onclick="shareOnFacebook()">Share on Facebook</a>
                                                <a href="#" class="twitter" onclick="shareOnTwitter()">Share on Twitter</a>
                                                <a href="#" class="linkedin" onclick="shareOnLinkedIn()">Share on LinkedIn</a>
                                                <a href="#" class="reddit" onclick="shareOnReddit()">Share on Reddit</a>
                                            </div>
                                        
                                        </div>
                                        
                                        <!-- <small class="text-truncate"><i class="far fa-calendar-alt text-primary me-2"></i>Date Line: 01 June, 2024</small> -->
                                    </div>
                            </div>
                          </div>
                          {% endfor %}   
                            


                            
                           
                        </div>
                    </div>
                </div>
        </div>
        <!-- Contact End -->

        <!-- Footer Start -->
        <div class="container-fluid footer py-5 wow fadeIn" data-wow-delay="0.2s">
            <div class="container py-5">
                <div class="row g-5">
                    <div class="col-md-6 col-lg-6 col-xl-6">
                        <div class="footer-item d-flex flex-column">
                            <div class="footer-item">
                                <a href="index.html" class="navbar-brand p-0">
                        <img src="img/logow.png">
                        <!-- <img src="img/logo.png" alt="Logo"> -->
                    </a>
                                <p >5th Floor, 8-3-318/11/3, Kolluri House Plot No 3, <br>Jaya Prakash Nagar, Yella Reddy Guda, Hyderabad,<br> Telangana 500073</p>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-3">
                        <div class="footer-item d-flex flex-column">
                            <h4 class="text-white mb-4">Explore</h4>
                            
                            <a href="#"><i class="fas fa-angle-right me-2"></i> About Us</a>
                            <a href="#"><i class="fas fa-angle-right me-2"></i> Solutions</a>
                            
                            <a href="#"><i class="fas fa-angle-right me-2"></i> Blog</a>
                            <a href="#"><i class="fas fa-angle-right me-2"></i> Contact Us</a>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-3">
                        <div class="footer-item d-flex flex-column">
                            <h4 class="text-white mb-4">Contact Info</h4>
                            
                           
                            <a href=""><i class="fas fa-envelope me-2"></i> info@64network.com</a>
                            <a href=""><i class="fas fa-phone me-2"></i>+91  79956 46464</a><br>
                           
                            <div class="d-flex align-items-center">
                                <a class="btn btn-light btn-md-square me-2" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-light btn-md-square me-2" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-light btn-md-square me-2" href=""><i class="fab fa-instagram"></i></a>
                                <a class="btn btn-light btn-md-square me-0" href=""><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <!-- Footer End -->

        
        <!-- Copyright Start -->
        
        <!-- Copyright End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-primary btn-lg-square back-to-top"><i class="fa fa-arrow-up"></i></a>   

        
    <!-- JavaScript Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/lightbox/js/lightbox.min.js"></script>

    



    <!-- Template Javascript -->
    <script src="js/main.js">
        
    //    function sendData(){
    //         const data = document.getElementById(jobname).value;
    //         // sessionStorage.setItem('sharedData', data);
    //         window.location.href = `carrer_job.html?data=${endcodeURIComponent(data)}`;
    //     }
    
    </script>

<script>
    function shareOnFacebook() {
        const url = window.location.href;
        const facebookUrl = url
        window.open(facebookUrl, '_blank', 'width=600,height=400');
    }

    function shareOnTwitter() {
        const url = window.location.href;
        const text = document.querySelector('h1').innerText;
        const twitterUrl = `https://twitter.com/intent/tweet?url=${encodeURIComponent(url)}&text=${encodeURIComponent(text)}`;
        window.open(twitterUrl, '_blank', 'width=600,height=400');
    }

    function shareOnLinkedIn() {
        const url = window.location.href;
        const linkedInUrl = `https://www.linkedin.com/sharing/share-offsite/?url=${encodeURIComponent(url)}`;
        window.open(linkedInUrl, '_blank', 'width=600,height=400');
    }

    function shareOnReddit() {
        const url = window.location.href;
        const title = document.querySelector('h1').innerText;
        const redditUrl = `https://www.reddit.com/submit?url=${encodeURIComponent(url)}&title=${encodeURIComponent(title)}`;
        window.open(redditUrl, '_blank', 'width=600,height=400');
    }
</script>

    </body>

</html>