<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>64 Network Security</title>
        <link rel="icon" href="img/fav.png">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="keywords">
        <meta content="" name="description">

        <!-- Google Web Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet"> 

        <!-- Icon Font Stylesheet -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

        <!-- Libraries Stylesheet -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
        <link href="lib/animate/animate.min.css" rel="stylesheet">
        <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
        <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">


        <!-- Customized Bootstrap Stylesheet -->
        <link href="css/bootstrap.min.css" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="css/style.css" rel="stylesheet">
        <link href="css/mar.css" rel="stylesheet">
        
    </head>

    <body>

        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Topbar Start -->
        <div class="container-fluid topbar px-0 d-none d-lg-block">
            <div class="container px-0">
                <div class="row gx-0 align-items-center" style="height: 45px;">
                    <div class="col-lg-2 text-center text-lg-start mb-lg-0">
                        <div class="d-flex flex-wrap">
                            <a href="#" class="text-muted me-4"><i class="fas fa-calendar-alt text-primary me-2"></i>Upcomming Events</a>
                            
                        </div>
                    </div>
                    {% set event_list = frappe.get_all("Event",filters={'status': 'Open','event_category':'Event'},fields=['name','subject','starts_on','ends_on'],order_by='starts_on asc') %}
                    {% set today = frappe.utils.now_datetime() %}
                    
                    <div class="col-lg-10 text-center text-lg-end">
                        <div class="d-flex align-items-center justify-content-end">
                            <marquee>
                         
                        {% for event in event_list if event_list %}
                            {% set start_datetime = event.starts_on %}
                            {% set start_date = start_datetime.strftime("%d-%m-%Y")  %}
                            {% set start_time = start_datetime.time() %}
                            {% set end_datetime = event.starts_on %}
                            {% set end_date = end_datetime.strftime("%d-%m-%Y")  %}
                            
                            {% if start_datetime >= today %}                            
                        
                                <i class="fas fa-shield-alt text-primary me-2"></i>
                                {{event.subject }} starts on {{ start_date }} at {{start_time}}  and ends on {{end_date}}. &nbsp;
                                                    <!-- {{event.name}} -->
                            {% endif %}                        
                            
                        {% endfor %}
                    </marquee>
                </div>

                        
                    </div>
                    
                </div>
            </div>
        </div>
        <!-- Topbar End -->


        <!-- Navbar & Hero Start -->
        <div class="container-fluid sticky-top px-0">
            <div class="position-absolute bg-dark" style="left: 0; top: 0; width: 100%; height: 100%;">
            </div>
            <div class="container px-0">
                <nav class="navbar navbar-expand-lg navbar-dark bg-white py-3 px-4">
                    <a href="index.html" class="navbar-brand p-0">
                        <img src="img/logo.png">
                        <!-- <img src="img/logo.png" alt="Logo"> -->
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                        <span class="fa fa-bars"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <div class="navbar-nav ms-auto py-0">
                            <a href="index.html" class="nav-item nav-link active">Home</a>
                            <a href="#" class="nav-item nav-link">About</a>
                            <a href="solutions.html" class="nav-item nav-link">Solutions</a>
                            <a href="#" class="nav-item nav-link">Blog</a>
                            <a href="career.html" class="nav-item nav-link">Career</a>
                            
                            <a href="contact.html" class="nav-item nav-link">Contact</a>
                            <a href="/login" class="nav-item nav-link">Login</a>
                      </div>
                        <div class="d-flex align-items-center flex-nowrap pt-xl-0">
                           
                            <a href="#" class="btn btn-primary rounded-pill text-white py-2 px-4 ms-2 flex-wrap flex-sm-shrink-0">16 Years of Excellence</a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <!-- Navbar & Hero End -->

        <!-- Modal Search Start -->
        <div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-fullscreen">
                <div class="modal-content rounded-0">
                    <div class="modal-header">
                        <h4 class="modal-title mb-0" id="exampleModalLabel">Search by keyword</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body d-flex align-items-center">
                        <div class="input-group w-75 mx-auto d-flex">
                            <input type="search" class="form-control p-3" placeholder="keywords" aria-describedby="search-icon-1">
                            <span id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal Search End -->

        <!-- Carousel Start -->
        <div class="header-carousel owl-carousel">
            {%  set banners=frappe.get_all("Custom Home Page Banner Section",filters={'status': 'Enable'},fields=['heading','sub_heading','button_name','button_url','background_image']) %}  
            {% for banner in banners %}
            <div class="header-carousel-item">
                <div class="header-carousel-item-img-1">
                    <img src={{banner.background_image}} class="img-fluid w-100" alt="Image">
                </div>
                <div class="carousel-caption">
                    <div class="carousel-caption-inner text-center p-3">
                        <h1 class="display-1 text-capitalize text-white mb-4 fadeInUp animate__animated" data-animation="fadeInUp" data-delay="1.3s" style="animation-delay: 1.3s;"> {{banner.heading}} </h1>
                        <p class="mb-5 fs-5 fadeInUp animate__animated" data-animation="fadeInUp" data-delay="1.5s" style="animation-delay: 1.5s;">{{banner.sub_heading}}              </p>
                        <a class="btn btn-primary rounded-pill py-2 px-5 mb-4 me-4 fadeInUp animate__animated" data-animation="fadeInUp" data-delay="1.5s" style="animation-delay: 1.7s;" href="{{banner.button_url}}">{{banner.button_name}} </a>
                    </div>
                </div>
            </div>
            {% endfor %}
            <!-- <div class="header-carousel-item mx-auto">
                <div class="header-carousel-item-img-2">
                    <img src="img/carousel-2.jpg" class="img-fluid w-100" alt="Image">
                </div>
                <div class="carousel-caption">
                    <div class="carousel-caption-inner text-center p-3">
                        <h1 class="display-1 text-capitalize text-white mb-4">Introducing FortiAI – The Generative AI Security Assistant</h1>
                        <p class="mb-5 fs-5">Turbocharge your SecOps efficiency and incident response.


                        </p>
                        <a class="btn btn-primary rounded-pill py-2 px-5 mb-4 me-4" href="#">Learn more</a>
                       
                    </div>
                </div>
            </div>
            <div class="header-carousel-item">
                <div class="header-carousel-item-img-3">
                    <img src="img/carousel-3.jpg" class="img-fluid w-100" alt="Image">
                </div>
                <div class="carousel-caption">
                    <div class="carousel-caption-inner text-center p-3">
                        <h1 class="display-1 text-capitalize text-white mb-4">Microsoft 365 has you covered</h1>
                        <p class="mb-5 fs-5">Everyone gets cloud storage and essential Microsoft 365 apps on the web, free of charge
                        </p>
                        <a class="btn btn-primary rounded-pill py-2 px-5 mb-4 me-4" href="#">Get in touch</a>
                        
                    </div>
                </div>
            </div> -->
        </div>
        <!-- Carousel End -->


        <!-- About Start -->
        <div class="container-fluid about bg-light py-5">
            <div class="container py-5">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-6 col-xl-5 wow fadeInLeft" data-wow-delay="0.1s">
                        <div class="about-img">
                          <img src="img/about-2.jpg" class="img-fluid" alt="Image">
                        </div>
                  </div>
                    <div class="col-lg-6 col-xl-7 wow fadeInRight" data-wow-delay="0.3s">
                        <h4 class="text-primary">Who we are ?</h4>
                        <h1 class="display-5 mb-4">We are the emerging pioneers of Network Security</h1>
                        <p class="text ps-4 mb-4">With over 13 years of experience delivering high performance security across the IT infrastructure of small and medium businesses, enterprises and government agencies in India, our network security and hybrid cloud solutions secure thousands of networks and their emails, applications and data across India.
                      </p>
                        
                        
                  <div class="row g-4 text-center align-items-center justify-content-center">
                            <div class="col-sm-4">
                                <div class="bg-primary rounded p-4">
                                    <div class="d-flex align-items-center justify-content-center">
                                        <span class="counter-value fs-1 fw-bold text-dark" data-toggle="counter-up">15</span>
                                        <h4 class="text-dark fs-1 mb-0" style="font-weight: 600; font-size: 25px;">+</h4>
                                    </div>
                                    <div class="w-100 d-flex align-items-center justify-content-center">
                                        <p class="text-white mb-0">Winning awards
</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="bg-dark rounded p-4">
                                    {% set company = frappe.get_doc("Company", "64 Network Security Pvt Ltd - TG") %}
                                    {% set established_date = company.date_of_establishment %}
                                    <!-- {% set date1 = frappe.utils.formatdate(frappe.utils.today(), 'dd-MM-YYYY') %}
                                    {% set date2 = frappe.utils.formatdate(established_date, 'dd-MM-YYYY') %}
                                     -->
                                     {% set today = frappe.utils.now_datetime().date() %}
                                     {% set company_age = frappe.utils.date_diff(today, established_date)//365 %}

                                    <div class="d-flex align-items-center justify-content-center">
                                        <span class="counter-value fs-1 fw-bold text-white" data-toggle="counter-up">{{ company_age }}</span>
                                        <h4 class="text-white fs-1 mb-0" style="font-weight: 600; font-size: 25px;">+</h4>
                                    </div>
                                    <div class="w-100 d-flex align-items-center justify-content-center">
                                        <p class="mb-0">Years Of Experience</p>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="bg-primary rounded p-4">
                                    {% set brand_list = frappe.get_all("Brand",filters={'custom_status': 'Enable'},fields=['name']) %}
                                    {% set partners = brand_list|length %}
                                    
                                    <div class="d-flex align-items-center justify-content-center">
                                        <span class="counter-value fs-1 fw-bold text-dark" data-toggle="counter-up">{{ partners }}</span>
                                        <h4 class="text-dark fs-1 mb-0" style="font-weight: 600; font-size: 25px;">+</h4>
                                    </div>
                                    <div class="w-100 d-flex align-items-center justify-content-center">
                                        <p class="text-white mb-0">Our Partners
</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->

<div class="ncontainer" style="text-align:center;">
  <h4 class="text-primary">Our Partner</h4>

  {%  set partner_logos =frappe.get_all("Partner Logos",filters={'status': 'Enable'},fields=['name','logo'],order_by='name asc') %}  
                
  <div class="lides">
    {% for logo in partner_logos %}

    <!-- <img src={{logo.logo}} width="120" height="120" alt="Logo"> -->
    <img src="{{logo.logo}}" >
    {% endfor %}
<!-- <img src="img/clients/aimbra.jpg" >
<img src="img/clients/amazon.jpg" >
<img src="img/clients/aruba.jpg">
 <img src="img/clients/azure.jpg">
 <img src="img/clients/cisco.jpg">
 <img src="img/clients/dell.jpg">
  <img src="img/clients/fortinet.jpg" >
  <img src="img/clients/google.jpg">
  <img src="img/clients/hp.jpg">
<img src="img/clients/intune.jpg" >
<img src="img/clients/lenovo.jpg">
 <img src="img/clients/m.jpg" >
<img src="img/clients/ms.jpg" >
 <img src="img/clients/netapp.jpg" >
 <img src="img/clients/nextgen.jpg">
  <img src="img/clients/prgt.jpg">
  <img src="img/clients/qnap.jpg" >
<img src="img/clients/quantum.jpg">
 <img src="img/clients/rapid7.jpg">
 <img src="img/clients/rediff.jpg">
<img src="img/clients/ruckus.jpg">
 <img src="img/clients/safehouse.jpg" >
  <img src="img/clients/seclore.jpg">
  <img src="img/clients/securate.jpg" >
  <img src="img/clients/solarwind.jpg" >
<img src="img/clients/sophos.jpg">
<img src="img/clients/soti.jpg">
<img src="img/clients/aimbra.jpg">
<img src="img/clients/synology.jpg">
<img src="img/clients/tectoro.jpg" >
 <img src="img/clients/tenable.jpg" >
 <img src="img/clients/tripwire.jpg" >
 <img src="img/clients/webworks.jpg" >
 <img src="img/clients/zecurion.jpg"> -->
  </div>
</div>
        <!-- Services Start -->
        <div class="container-fluid testimonial bg-light py-5">
            <div class="container py-5">
                <div class="row  align-items-center">
                    <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 800px;">
                    <h4 class="text-primary">Our Solutions</h4>
                </div>
                {% set solution_images =["img/icons/firewall.jpg","img/icons/epp.jpg","img/icons/eps.jpg","img/icons/cloud.jpg","img/icons/email.jpg","img/icons/iam.jpg","img/icons/backup.jpg","img/icons/Data-Loss-Protection-(DLP).jpg",
                "img/icons/Information-Rights-Management-(IRM).jpg","img/icons/Laptops-&-Desktops.jpg"] %}
                {%  set solutions=frappe.get_all("Solutions",filters={'status': 'Enable','is_published': 1},fields=['service_name','name','route','image','solution_icon'],order_by='name asc') %}  
                <div class="col-xl-12">
                        <div class="testimonial-carousel  owl-carousel wow fadeInUp" data-wow-delay="0.1s">
                            {% for solution in solutions %}
                            
                            <div class="service-item bg-light rounded">
                            <div class="service-img">
                                {% set random_value = solution_images|random %}
                                <img src={{solution.solution_icon}} class="img-fluid w-100 rounded-top" alt="">
                            </div>
                            <div class="service-content text-center p-4">
                                <div class="service-content-inner">
                                    <h6>{{ solution.name }}</h6>
                                  
                                    <a class="btn btn-light rounded-pill rm" href="solutions.html">Read More</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                            <!-- <div class="service-item bg-light rounded">
                            <div class="service-img">
                                <img src="img/icons/epp.jpg" class="img-fluid w-100 rounded-top" alt="">
                            </div>
                            <div class="service-content text-center p-4">
                                <div class="service-content-inner">
                                    <h6>EPP, EDR & MDR

</h6>
                                  
                                    <a class="btn btn-light rounded-pill py-1 px-5" href="solutions.html">Read More</a>
                                </div>
                            </div>
                        </div>
                            <div class="service-item bg-light rounded">
                            <div class="service-img">
                                <img src="img/icons/cloud.jpg" class="img-fluid w-100 rounded-top" alt="">
                            </div>
                            <div class="service-content text-center p-4">
                                <div class="service-content-inner">
                                    <h6>Data Centre & Cloud Solutions


</h6>
                                  
                                    <a class="btn btn-light rounded-pill py-1 px-5" href="solutions.html">Read More</a>
                                </div>
                            </div>
                        </div>
                            <div class="service-item bg-light rounded">
                            <div class="service-img">
                                <img src="img/icons/email.jpg" class="img-fluid w-100 rounded-top" alt="">
                            </div>
                            <div class="service-content text-center p-4">
                                <div class="service-content-inner">
                                    <h6>Hosted Email Messaging Solution



</h6>
                                  
                                    <a class="btn btn-light rounded-pill py-1 px-5" href="solutions.html">Read More</a>
                                </div>
                            </div>
                        </div>
                            <div class="service-item bg-light rounded">
                            <div class="service-img">
                                <img src="img/icons/iam.jpg" class="img-fluid w-100 rounded-top" alt="">
                            </div>
                            <div class="service-content text-center p-4">
                                <div class="service-content-inner">
                                    <h6>Identity and Access Management (IAM)




</h6>
                                  
                                    <a class="btn btn-light rounded-pill py-1 px-5" href="solutions.html">Read More</a>
                                </div>
                            </div>
                        </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Services End -->


        <!-- Project Start -->
        
<!-- Project End -->


        <!-- Blog Start -->
        <div class="container-fluid blog pb-5">
            <div class="container pb-5">
                <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 800px;">
                    <h4 class="text-primary">Our Blogs</h4>
                    <h1 class="display-4">Latest Articles & News from the Blogs</h1>
                </div>
                <div class="row g-4 justify-content-center">
                    <div class="col-md-6 col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="blog-item bg-light rounded p-4" style="background-image: url(img/bg.png);">
                            <div class="mb-4">
                                <h4 class="text-primary mb-2">Investment</h4>
                                <div class="d-flex justify-content-between">
                                    <p class="mb-0"><span class="text-dark fw-bold">On</span> Mar 14, 2024</p>
                                    <p class="mb-0"><span class="text-dark fw-bold">By</span> Mark D. Brock</p>
                                </div>
                            </div>
                            <div class="project-img">
                                <img src="img/blog-1.jpg" class="img-fluid w-100 rounded" alt="Image">
                                <div class="blog-plus-icon">
                                    <a href="img/blog-1.jpg" data-lightbox="blog-1" class="btn btn-primary btn-md-square rounded-pill"><i class="fas fa-plus fa-1x"></i></a>
                                </div>
                            </div>
                            <div class="my-4">
                                <a href="#" class="h4">Revisiting Your Investment & Distribution Goals</a>
                            </div>
                            <a class="btn btn-primary rounded-pill py-2 px-4" href="#">Explore More</a>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="blog-item bg-light rounded p-4" style="background-image: url(img/bg.png);">
                            <div class="mb-4">
                                <h4 class="text-primary mb-2">Business</h4>
                                <div class="d-flex justify-content-between">
                                    <p class="mb-0"><span class="text-dark fw-bold">On</span> Mar 14, 2024</p>
                                    <p class="mb-0"><span class="text-dark fw-bold">By</span> Mark D. Brock</p>
                                </div>
                            </div>
                            <div class="project-img">
                                <img src="img/blog-2.jpg" class="img-fluid w-100 rounded" alt="Image">
                                <div class="blog-plus-icon">
                                    <a href="img/blog-2.jpg" data-lightbox="blog-2" class="btn btn-primary btn-md-square rounded-pill"><i class="fas fa-plus fa-1x"></i></a>
                                </div>
                            </div>
                            <div class="my-4">
                                <a href="#" class="h4">Dimensional Fund Advisors Interview with Director</a>
                            </div>
                            <a class="btn btn-primary rounded-pill py-2 px-4" href="#">Explore More</a>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="blog-item bg-light rounded p-4" style="background-image: url(img/bg.png);">
                            <div class="mb-4">
                                <h4 class="text-primary mb-2">Consulting</h4>
                                <div class="d-flex justify-content-between">
                                    <p class="mb-0"><span class="text-dark fw-bold">On</span> Mar 14, 2024</p>
                                    <p class="mb-0"><span class="text-dark fw-bold">By</span> Mark D. Brock</p>
                                </div>
                            </div>
                            <div class="project-img">
                                <img src="img/blog-3.jpg" class="img-fluid w-100 rounded" alt="Image">
                                <div class="blog-plus-icon">
                                    <a href="img/blog-3.jpg" data-lightbox="blog-3" class="btn btn-primary btn-md-square rounded-pill"><i class="fas fa-plus fa-1x"></i></a>
                                </div>
                            </div>
                            <div class="my-4">
                                <a href="#" class="h4">Interested in Giving Back this year? Here are some tips</a>
                            </div>
                            <a class="btn btn-primary rounded-pill py-2 px-4" href="#">Explore More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Blog End -->


        <!-- Team Start -->
        
<!-- Team End -->


        <!-- Testimonial Start -->
        <div class="container-fluid testimonial bg-light py-5">
            <div class="container py-5">
                <div class="row g-4 align-items-center">
                    <div class="col-xl-4 wow fadeInLeft" data-wow-delay="0.1s">
                        <div class="h-100 rounded">
                            <h4 class="text-primary">Our Feedbacks </h4>
                            <h1 class="display-4 mb-4">Clients are Talking</h1>
                            <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum atque soluta unde itaque. Consequatur quam odit blanditiis harum veritatis porro.</p>
                            <a class="btn btn-primary rounded-pill text-white py-3 px-5" href="#">Read All Reviews <i class="fas fa-arrow-right ms-2"></i></a>
                        </div>
                    </div>
                    <div class="col-xl-8">
                        <div class="customer-carousel owl-carousel wow fadeInUp" data-wow-delay="0.1s">
                            
                            
                            <div class="testimonial-item bg-white rounded p-4 wow fadeInUp" data-wow-delay="0.7s">
                                <div class="d-flex">
                                    <div><i class="fas fa-quote-left fa-3x text-dark me-3"></i></div>
                                    <p class="mt-4">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam eos impedit eveniet dolorem culpa ullam incidunt vero quo recusandae nemo? Molestiae doloribus iure,
                                    </p>
                                </div>
                                <div class="d-flex justify-content-end">
                                    <div class="my-auto text-end">
                                        <h5>Person Name</h5>
                                        <p class="mb-0">Profession</p>
                                    </div>
                                    <div class="bg-white rounded-circle ms-3">
                                        <img src="img/testimonial-3.jpg" class="rounded-circle p-2" style="width: 80px; height: 80px; border: 1px solid; border-color: var(--bs-primary);" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Testimonial End -->


        <!-- FAQ Start -->
        
<!-- FAQ End -->

        <!-- Footer Start -->
        <div class="container-fluid footer py-5 wow fadeIn" data-wow-delay="0.2s">
            <div class="container py-5">
                <div class="row g-5">
                    <div class="col-md-6 col-lg-6 col-xl-6">
                        <div class="footer-item d-flex flex-column">
                            <div class="footer-item">
                                <a href="index.html" class="navbar-brand p-0">
                        <img src="img/logow.png">
                        <!-- <img src="img/logo.png" alt="Logo"> -->
                    </a>
                                <p >5th Floor, 8-3-318/11/3, Kolluri House Plot No 3, <br>Jaya Prakash Nagar, Yella Reddy Guda, Hyderabad,<br> Telangana 500073</p>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-3">
                        <div class="footer-item d-flex flex-column">
                            <h4 class="text-white mb-4">Explore</h4>
                            
                            <a href="#"><i class="fas fa-angle-right me-2"></i> About Us</a>
                            <a href="#"><i class="fas fa-angle-right me-2"></i> Solutions</a>
                            
                            <a href="#"><i class="fas fa-angle-right me-2"></i> Blog</a>
                            <a href="#"><i class="fas fa-angle-right me-2"></i> Contact Us</a>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-3">
                        <div class="footer-item d-flex flex-column">
                            <h4 class="text-white mb-4">Contact Info</h4>
                            
                           
                            <a href=""><i class="fas fa-envelope me-2"></i> info@64network.com</a>
                            <a href=""><i class="fas fa-phone me-2"></i>+91  79956 46464</a><br>
                           
                            <div class="d-flex align-items-center">
                                <a class="btn btn-light btn-md-square me-2" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-light btn-md-square me-2" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-light btn-md-square me-2" href=""><i class="fab fa-instagram"></i></a>
                                <a class="btn btn-light btn-md-square me-0" href=""><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <!-- Footer End -->

        
        <!-- Copyright Start --><!-- Copyright End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-primary btn-lg-square back-to-top"><i class="fa fa-arrow-up"></i></a>   

        
    <!-- JavaScript Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/lightbox/js/lightbox.min.js"></script>
    

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
    <script src="js/lide.js"></script>
    </body>

</html>