<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>Solutions | 64 Network Security</title>
        <link rel="icon" href="img/fav.png">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="keywords">
        <meta content="" name="description">

        <!-- Google Web Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet"> 

        <!-- Icon Font Stylesheet -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

        <!-- Libraries Stylesheet -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
        <link href="lib/animate/animate.min.css" rel="stylesheet">
        <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
        <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">


        <!-- Customized Bootstrap Stylesheet -->
        <link href="css/bootstrap.min.css" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="css/style.css" rel="stylesheet">
    </head>

    <body>

        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Topbar Start -->
        <div class="container-fluid topbar px-0 d-none d-lg-block">
            <div class="container px-0">
                <div class="row gx-0 align-items-center" style="height: 45px;">
                    <div class="col-lg-2 text-center text-lg-start mb-lg-0">
                        <div class="d-flex flex-wrap">
                            <a href="#" class="text-muted me-4"><i class="fas fa-calendar-alt text-primary me-2"></i>Upcomming Events</a>
                            
                        </div>
                    </div>
                    {% set event_list = frappe.get_all("Event",filters={'status': 'Open'},fields=['name','subject','starts_on','ends_on'],order_by='starts_on asc') %}
                    {% set today = frappe.utils.now_datetime() %}
                    
                    <div class="col-lg-10 text-center text-lg-end">
                        {% for event in event_list %}
                            {% set start_date = event.starts_on %}
                            {% if  start_date >= today %}
                        
                        <!-- <div class="d-flex align-items-center justify-content-end"><marquee><i class="fas fa-shield-alt text-primary me-2"></i>GITEX 2023. Dubai. Kaspersky experts to speak about a fundamentally new approach to enhancing safety and security.</marquee>
                        </div> -->
                        <div class="d-flex align-items-center justify-content-end"><marquee><i class="fas fa-shield-alt text-primary me-2"></i>{{event.subject }} starts on {{ event.starts_on }} and ends on {{event.ends_on}}.</marquee>
                        </div>
                        <!-- {{event.name}} -->
                            {% endif %}
                        {% endfor %}
                    
                </div>
            </div>
        </div>
        <!-- Topbar End -->


        <!-- Navbar & Hero Start -->
        <div class="container-fluid sticky-top px-0">
            <div class="position-absolute bg-dark" style="left: 0; top: 0; width: 100%; height: 100%;">
            </div>
            <div class="container px-0">
                <nav class="navbar navbar-expand-lg navbar-dark bg-white py-3 px-4">
                    <a href="index.html" class="navbar-brand p-0">
                        <img src="img/logo.png">
                        <!-- <img src="img/logo.png" alt="Logo"> -->
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                        <span class="fa fa-bars"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <div class="navbar-nav ms-auto py-0">
                            <a href="index.html" class="nav-item nav-link ">Home</a>
                            <a href="about.html" class="nav-item nav-link">About</a>
                            <a href="solutions.html" class="nav-item nav-link active">Solutions</a>
                            <a href="project.html" class="nav-item nav-link">Blog</a>
                            <a href="project.html" class="nav-item nav-link">Career</a>
                            
                            <a href="contact.html" class="nav-item nav-link ">Contact</a>
                            <a href="/login" class="nav-item nav-link ">Login</a>
                      </div>
                        <div class="d-flex align-items-center flex-nowrap pt-xl-0">
                            
                            <a href="#" class="btn btn-primary rounded-pill text-white py-2 px-4 ms-2 flex-wrap flex-sm-shrink-0">16 Years of Excellence</a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <!-- Navbar & Hero End -->

        <!-- Modal Search Start -->
        <div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-fullscreen">
                <div class="modal-content rounded-0">
                    <div class="modal-header">
                        <h4 class="modal-title mb-0" id="exampleModalLabel">Search by keyword</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body d-flex align-items-center">
                        <div class="input-group w-75 mx-auto d-flex">
                            <input type="search" class="form-control p-3" placeholder="keywords" aria-describedby="search-icon-1">
                            <span id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal Search End -->

        <!-- Header Start -->
        <div class="container-fluid bg-solutions">
            <div class="bg-breadcrumb-single"></div>
            <div class="container text-center py-5" style="max-width: 900px;">
                <h4 class="text-white display-4 mb-4 wow fadeInDown" data-wow-delay="0.1s">Solutions</h4>
                <ol class="breadcrumb justify-content-center mb-0 wow fadeInDown" data-wow-delay="0.3s">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item active text-primary">Solutions</li>
                </ol>    
            </div>
        </div>
        <!-- Header End -->

        <!-- Contact Start -->
      <div style="background-color: #ffffff;" class="container-fluid service py-5">
            <div class="container py-5">
            
            <div  class="accordion bg-light rounded p-4" id="accordionExample">
            <h4 class="text-primary text-center">Our Solutions</h4>
            {%  set solutions=frappe.get_all("Solutions",filters={'status': 'Enable','is_published': 1},fields=['service_name','name','route'],order_by='name asc') %}
            {% for solution in solutions %}              
                <div class="accordion-item border-0 mb-4">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed text-dark fs-5 fw-bold rounded-top" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                            {{ solution.name}}
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                        {% set parent1 = solution.name %}   
                        {%  set partner_logos =frappe.get_all("Partner Logos Table",filters={'parent': parent1},fields=['partner_name','name','logo'],order_by='name asc') %}
                                  
                        <div class="accordion-body my-2" style="word-spacing:30px;">
                            {% for logo in partner_logos %} 
                            <a href="solutions_Kaspersky.html" target="_blank"><img class="shadow" src={{logo.logo}} ></a>
                            {% endfor %}
                        <!-- <a href="#" target="_blank"><img class="shadow" src="img/clients/sophos.jpg" ></a> -->
                        <!-- <a href="#" target="_blank"><img class="shadow" src="img/clients/sonicwall.jpg" ></a>
                        <a href="#" target="_blank"><img class="shadow" src="img/clients/checkpoint.jpg" ></a> -->
                        </div>
                    </div>
                </div>
            {% endfor %}                
                            <!-- <div class="accordion-item border-0 mb-4">
                                <h2 class="accordion-header" id="headingTwo">
                                    <button class="accordion-button collapsed text-dark fs-5 fw-bold rounded-top" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        EPP, EDR & MDR 
                                    </button>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                    <div class="accordion-body my-2" style="word-spacing:30px;">
                                       <a href="solutions_Kaspersky.html" target="_blank"><img class="shadow" src="img/clients/kaspersky.jpg" ></a>
                                    <a href="#" target="_blank"><img class="shadow" src="img/clients/sophos.jpg" ></a>
                                    <a href="#" target="_blank"><img class="shadow" src="img/clients/trelly.jpg" ></a>
                                    <a href="#" target="_blank"><img class="shadow" src="img/clients/symentec.jpg" ></a>
                                    <a href="#" target="_blank"><img class="shadow" src="img/clients/eset.jpg" ></a>
                                    
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item border-0 mb-4">
                                <h2 class="accordion-header" id="headingThree">
                                    <button class="accordion-button collapsed text-dark fs-5 fw-bold rounded-top" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                       Data Centre & Cloud Solutions

                                    </button>
                                </h2>
                                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                    <div class="accordion-body my-2" style="word-spacing:30px;">
                                       <a href="#" target="_blank"><img class="shadow" src="img/clients/azure.jpg" ></a>
                                    <a href="#" target="_blank"><img class="shadow" src="img/clients/amazon.jpg" ></a>
                                    <a href="#" target="_blank"><img class="shadow" src="img/clients/webworks.jpg" ></a>
                                    <a href="#" target="_blank"><img class="shadow" src="img/clients/sifi.jpg" ></a>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="accordion-item border-0 mb-4">
                                <h2 class="accordion-header" id="headingFour">
                                    <button class="accordion-button collapsed text-dark fs-5 fw-bold rounded-top" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                       Hosted Email Messaging Solution

                                    </button>
                                </h2>
                                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                                    <div class="accordion-body my-2" style="word-spacing:30px;">
                                       <a href="#" target="_blank"><img class="shadow" src="img/clients/ms.jpg" ></a>
                                    <a href="#" target="_blank"><img class="shadow" src="img/clients/google-workspace.jpg" ></a>
                                    <a href="#" target="_blank"><img class="shadow" src="img/clients/zoho.jpg" ></a>
                                    <a href="#" target="_blank"><img class="shadow" src="img/clients/rediff.jpg" ></a>
                                    <a href="#" target="_blank"><img class="shadow" src="img/clients/aimbra.jpg" ></a>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="accordion-item border-0 mb-4">
                                <h2 class="accordion-header" id="headingFive">
                                    <button class="accordion-button collapsed text-dark fs-5 fw-bold rounded-top" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                       Identity and Access Management (IAM)



                                    </button>
                                </h2>
                            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                                    <div class="accordion-body my-2" style="word-spacing:30px;">
                                       <a href="#" target="_blank"><img class="shadow" src="img/clients/fortinet.jpg" ></a>
                                    <a href="#" target="_blank"><img class="shadow" src="img/clients/zoho.jpg" ></a>
                                    <a href="#" target="_blank"><img class="shadow" src="img/clients/azure.jpg" ></a>
                                    <a href="#" target="_blank"><img class="shadow" src="img/clients/ol.jpg" ></a>
                                    <a href="#" target="_blank"><img class="shadow" src="img/clients/IS.jpg" ></a>
                  </div>
                                </div>
                            </div>

                            <div class="accordion-item border-0 mb-4">
                                <h2 class="accordion-header" id="headingSix">
                                    <button class="accordion-button collapsed text-dark fs-5 fw-bold rounded-top" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                      Information Rights Management (IRM)


                                    </button>
                                </h2>
                                <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                                    <div class="accordion-body my-2" style="word-spacing:30px;">
                                       <a href="#" target="_blank"><img class="shadow" src="img/clients/seclore.jpg" ></a>
                                    <a href="#" target="_blank"><img class="shadow" src="img/clients/zecurion.jpg" ></a>
                                    <a href="#" target="_blank"><img class="shadow" src="img/clients/microsoft.jpg" ></a>
                                    
                                    </div>
                                </div>
                            </div>
                            
                            <div class="accordion-item border-0 mb-4">
                                <h2 class="accordion-header" id="headingSeven">
                                    <button class="accordion-button collapsed text-dark fs-5 fw-bold rounded-top" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                       Security Information and Event Management (SIEM)


                                    </button>
                                </h2>
                                <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
                                    <div class="accordion-body my-2" style="word-spacing:30px;">
                                       <a href="#" target="_blank"><img class="shadow" src="img/clients/fortinet.jpg" ></a>
                                    <a href="#" target="_blank"><img class="shadow" src="img/clients/seceon.jpg" ></a>
                                    <a href="#" target="_blank"><img class="shadow" src="img/clients/kaspersky.jpg" ></a>
                                    <a href="#" target="_blank"><img class="shadow" src="img/clients/zoho.jpg" ></a>
                                    
                                    </div>
                                </div>
                            </div> -->

                           <!-- <div class="accordion-item border-0 mb-4">
                                <h2 class="accordion-header" id="headingEight">
                                    <button class="accordion-button collapsed text-dark fs-5 fw-bold rounded-top" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                       Mobile Device Management (MDM)


                                    </button>
                                </h2>
                                <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight" data-bs-parent="#accordionExample">
                                    <div class="accordion-body my-2" style="word-spacing:30px;">
                                       <a href="#" target="_blank"><img class="shadow" src="img/clients/intune.jpg" ></a>
                                    <a href="#" target="_blank"><img class="shadow" src="img/clients/soti.jpg" ></a>
                                    <a href="#" target="_blank"><img class="shadow" src="img/clients/zecurion.jpg" ></a>
                                    <a href="#" target="_blank"><img class="shadow" src="img/clients/tectoro.jpg" ></a>
                                    <a href="#" target="_blank"><img class="shadow" src="img/clients/zoho.jpg" ></a>
                                    </div>
                                </div>
                            </div>

                            
                            <div class="accordion-item border-0 mb-4">
                                <h2 class="accordion-header" id="headingNine">
                                    <button class="accordion-button collapsed text-dark fs-5 fw-bold rounded-top" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                                      Secure Application Access Solutions

                                    </button>
                                </h2>
                                <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine" data-bs-parent="#accordionExample">
                                    <div class="accordion-body my-2" style="word-spacing:30px;">
                                       <a href="#" target="_blank"><img class="shadow" src="img/clients/accops.jpg" ></a>
                                    <a href="#" target="_blank"><img class="shadow" src="img/clients/IS.jpg" ></a>
                                   
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item border-0 mb-4">
                                <h2 class="accordion-header" id="headingTen">
                                    <button class="accordion-button collapsed text-dark fs-5 fw-bold rounded-top" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                                      Web Application Firewall (WAF)


                                    </button>
                                </h2>
                                <div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingTen" data-bs-parent="#accordionExample">
                                    <div class="accordion-body my-2" style="word-spacing:30px;">
                                       <a href="#" target="_blank"><img class="shadow" src="img/clients/fortinet.jpg" ></a>
                                    <a href="#" target="_blank"><img class="shadow" src="img/clients/indusface.jpg" ></a>
                                    <a href="#" target="_blank"><img class="shadow" src="img/clients/prophaze.jpg" ></a>
                                    
                                    </div>
                                </div>
                            </div>


                            <div class="accordion-item border-0 mb-4">
                                <h2 class="accordion-header" id="headingEleven">
                                    <button class="accordion-button collapsed text-dark fs-5 fw-bold rounded-top" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
                                       Vulnerability Assessment Solution

                                    </button>
                                </h2>
                                <div id="collapseEleven" class="accordion-collapse collapse" aria-labelledby="headingEleven" data-bs-parent="#accordionExample">
                                    <div class="accordion-body my-2" style="word-spacing:30px;">
                                       <a href="#" target="_blank"><img class="shadow" src="img/clients/tenable.jpg" ></a>
                                    <a href="#" target="_blank"><img class="shadow" src="img/clients/tripwire.jpg" ></a>
                                    <a href="#" target="_blank"><img class="shadow" src="img/clients/rapid7.jpg" ></a>
                                   
                                    </div>
                                </div>
                            </div>

                            
                            <div class="accordion-item border-0 mb-4">
                                <h2 class="accordion-header" id="headingTwelve">
                                    <button class="accordion-button collapsed text-dark fs-5 fw-bold rounded-top" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
                                       Network Monitoring Tools


                                    </button>
                                </h2>
                                <div id="collapseTwelve" class="accordion-collapse collapse" aria-labelledby="headingTwelve" data-bs-parent="#accordionExample">
                                    <div class="accordion-body my-2" style="word-spacing:30px;">
                                       <a href="#" target="_blank"><img class="shadow" src="img/clients/everest.jpg" ></a>
                                    <a href="#" target="_blank"><img class="shadow" src="img/clients/solarwind.jpg" ></a>
                                    <a href="#" target="_blank"><img class="shadow" src="img/clients/me.jpg" ></a>
                                    <a href="#" target="_blank"><img class="shadow" src="img/clients/prgt.jpg" ></a>
                                    
                                    </div>
                                </div>
                            </div> -->

                            <!-- <div class="accordion-item border-0 mb-4">
                                <h2 class="accordion-header" id="headingFourteen">
                                    <button class="accordion-button collapsed text-dark fs-5 fw-bold rounded-top" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFourteen" aria-expanded="false" aria-controls="collapseFourteen">
                                       Data Loss Protection
(DLP)


                                    </button>
                                </h2>
                                <div id="collapseFourteen" class="accordion-collapse collapse" aria-labelledby="headingFourteen" data-bs-parent="#accordionExample">
                                    <div class="accordion-body my-2" style="word-spacing:30px;">
                                       <a href="#" target="_blank"><img class="shadow" src="img/clients/safetica.jpg" ></a>
                                    <a href="#" target="_blank"><img class="shadow" src="img/clients/end.jpg" ></a>
                                    <a href="#" target="_blank"><img class="shadow" src="img/clients/fp.jpg" ></a>
                                    <a href="#" target="_blank"><img class="shadow" src="img/clients/mcafee.jpg" ></a>
                                    
                                    </div>
                                </div>
                            </div>

                            
                            <div class="accordion-item border-0 mb-4">
                                <h2 class="accordion-header" id="headingFifteen">
                                    <button class="accordion-button collapsed text-dark fs-5 fw-bold rounded-top" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFifteen" aria-expanded="false" aria-controls="collapseFifteen">
                                       Laptops & Desktops


                                    </button>
                                </h2>
                                <div id="collapseFifteen" class="accordion-collapse collapse" aria-labelledby="headingFifteen" data-bs-parent="#accordionExample">
                                    <div class="accordion-body my-2" style="word-spacing:30px;">
                                       <a href="#" target="_blank"><img class="shadow" src="img/clients/dell.jpg" ></a>
                                    <a href="#" target="_blank"><img class="shadow" src="img/clients/hp.jpg" ></a>
                                    <a href="#" target="_blank"><img class="shadow" src="img/clients/lenovo.jpg" ></a>
                                    <a href="#" target="_blank"><img class="shadow" src="img/clients/acer.jpg" ></a>
                                    
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item border-0 mb-4">
                                <h2 class="accordion-header" id="headingSixteen">
                                    <button class="accordion-button collapsed text-dark fs-5 fw-bold rounded-top" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSixteen" aria-expanded="false" aria-controls="collapseSixteen">
                                      Servers & Storage


                                    </button>
                                </h2>
                                <div id="collapseSixteen" class="accordion-collapse collapse" aria-labelledby="headingSixteen" data-bs-parent="#accordionExample">
                                    <div class="accordion-body my-2" style="word-spacing:30px;">
                                       <a href="#" target="_blank"><img class="shadow" src="img/clients/dell.jpg" ></a>
                                    <a href="#" target="_blank"><img class="shadow" src="img/clients/hp.jpg" ></a>
                                    <a href="#" target="_blank"><img class="shadow" src="img/clients/lenovo.jpg" ></a>
                                    <a href="#" target="_blank"><img class="shadow" src="img/clients/netapp.jpg" ></a>
                                    
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item border-0 mb-4">
                                <h2 class="accordion-header" id="headingSeventeen">
                                    <button class="accordion-button collapsed text-dark fs-5 fw-bold rounded-top" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeventeen" aria-expanded="false" aria-controls="collapseSeventeen">
                                       Backup

                                    </button>
                                </h2>
                                <div id="collapseSeventeen" class="accordion-collapse collapse" aria-labelledby="headingSeventeen" data-bs-parent="#accordionExample">
                                    <div class="accordion-body my-2" style="word-spacing:30px;">
                                       <a href="#" target="_blank"><img class="shadow" src="img/clients/veeam.jpg" ></a>
                                    <a href="#" target="_blank"><img class="shadow" src="img/clients/acronis.jpg" ></a>
                                    <a href="#" target="_blank"><img class="shadow" src="img/clients/veritas.jpg" ></a>
                                    
                                    </div>
                                </div>
                            </div>


                            <div class="accordion-item border-0 mb-4">
                                <h2 class="accordion-header" id="headingEightteen">
                                    <button class="accordion-button collapsed text-dark fs-5 fw-bold rounded-top" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEightteen" aria-expanded="false" aria-controls="collapseEightteen">
                                       Email Security


                                    </button>
                                </h2>
                                <div id="collapseEightteen" class="accordion-collapse collapse" aria-labelledby="headingEightteen" data-bs-parent="#accordionExample">
                                    <div class="accordion-body my-2" style="word-spacing:30px;">
                                       <a href="#" target="_blank"><img class="shadow" src="img/clients/fortinet.jpg" ></a>
                                    <a href="#" target="_blank"><img class="shadow" src="img/clients/checkpoint.jpg" ></a>
                                    <a href="#" target="_blank"><img class="shadow" src="img/clients/sophos.jpg" ></a>
                                    <a href="#" target="_blank"><img class="shadow" src="img/clients/cisco.jpg" ></a>
                                    
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item border-0 mb-4">
                                <h2 class="accordion-header" id="headingNineteen">
                                    <button class="accordion-button collapsed text-dark fs-5 fw-bold rounded-top" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNineteen" aria-expanded="false" aria-controls="collapseNineteen">
                                       Mobile & PC/MAC Cyber Guard


                                    </button>
                                </h2>
                                <div id="collapseNineteen" class="accordion-collapse collapse" aria-labelledby="headingNineteen" data-bs-parent="#accordionExample">
                                    <div class="accordion-body my-2" style="word-spacing:30px;">
                                       <a href="#" target="_blank"><img class="shadow" src="img/clients/safehouse.jpg" ></a>
                                    
                                    </div>
                                </div>
                            </div> -->

                            
                       </div>
                
                
            </div>
        </div>
        <!-- Contact End -->

        <!-- Footer Start -->
        <div class="container-fluid footer py-5 wow fadeIn" data-wow-delay="0.2s">
            <div class="container py-5">
                <div class="row g-5">
                    <div class="col-md-6 col-lg-6 col-xl-6">
                        <div class="footer-item d-flex flex-column">
                            <div class="footer-item">
                                <a href="index.html" class="navbar-brand p-0">
                        <img src="img/logow.png">
                        <!-- <img src="img/logo.png" alt="Logo"> -->
                    </a>
                                <p >5th Floor, 8-3-318/11/3, Kolluri House Plot No 3, <br>Jaya Prakash Nagar, Yella Reddy Guda, Hyderabad,<br> Telangana 500073</p>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-3">
                        <div class="footer-item d-flex flex-column">
                            <h4 class="text-white mb-4">Explore</h4>
                            
                            <a href="#"><i class="fas fa-angle-right me-2"></i> About Us</a>
                            <a href="#"><i class="fas fa-angle-right me-2"></i> Solutions</a>
                            
                            <a href="#"><i class="fas fa-angle-right me-2"></i> Blog</a>
                            <a href="#"><i class="fas fa-angle-right me-2"></i> Contact Us</a>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-3">
                        <div class="footer-item d-flex flex-column">
                            <h4 class="text-white mb-4">Contact Info</h4>
                            
                           
                            <a href=""><i class="fas fa-envelope me-2"></i> info@64network.com</a>
                            <a href=""><i class="fas fa-phone me-2"></i>+91  79956 46464</a><br>
                           
                            <div class="d-flex align-items-center">
                                <a class="btn btn-light btn-md-square me-2" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-light btn-md-square me-2" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-light btn-md-square me-2" href=""><i class="fab fa-instagram"></i></a>
                                <a class="btn btn-light btn-md-square me-0" href=""><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <!-- Footer End -->

        
        <!-- Copyright Start -->
        
        <!-- Copyright End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-primary btn-lg-square back-to-top"><i class="fa fa-arrow-up"></i></a>   

        
    <!-- JavaScript Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/lightbox/js/lightbox.min.js"></script>
    

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
    </body>

</html>