<!-- sidebar.html -->
<aside class="ub-sidebar">
  <div class="ub-sidebar-inner">
    <div class="ub-sidebar-title">Navigation</div>
    <ul class="ub-menu">
      <li class="ub-menu-item"><a href="#">Dashboard 1</a></li>
      <li class="ub-menu-item"><a href="#">Dashboard 2</a></li>
      <li class="ub-menu-item"><a href="#">Landing Page</a></li>
    </ul>
    <div class="ub-sidebar-title">Support Center</div>
    <ul class="ub-menu">
      <li class="ub-menu-item"><a href="#tickets-list">Tickets List</a></li>
      <li class="ub-menu-item"><a href="#ticket-details">Ticket Details</a></li>
      <li class="ub-menu-item"><a href="#ticket-create">New Ticket</a></li>
    </ul>
  </div>
</aside>
